# Dependencies
node_modules
bun.lockb

# Database
data/*.sqlite
data/*.sqlite-*

# Build outputs
dist
*.tsbuildinfo

# Environment
.env
.env.local

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
bun-debug.log*