# Dependencies
node_modules

# Database
db.sqlite

# Build outputs
dist
*.tsbuildinfo

# Environment
.env
.env.local

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
